body {
    background-color: lightblue;
    text-align: center;
  }
  
h1 {
    color: navy;
  }

.heading {
    display:inline;
    text-align: center;
}

.headingText {

    text-align: center;
    font-size: 30px;
        
}
.logo {
    float:left;
    padding-left: 300px;
    padding-top: 27px;
    display: inline;
    height : 30px;
    width : 30px;

}
.logo.inline { float:left; }
.headingText.inline {float:left; padding-left: 20px;}

